body{
    font-family:Montserrat
}
.container-fluid{
    width: 100% !important;
    height: 400px;
    padding-bottom: 30px;
    font-family: Montserrat;
    vertical-align:middle;
}
.col-sm-5{
    width: 50%;
    display:inline-block;
    align-content: center !important;
    vertical-align: middle;
}
.navbar-header img{ 
    padding-top: 30px;
    display: block;
    vertical-align: middle;
    margin: auto;
    position: relative;
}

.navbar-header{
    width: 100%;
    height: 120px !important;
    background-color: white; 
}

#chip{
    height: 90px;
    width: 65px;
}

h3, h5,h6{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    color: skyblue;
    font-weight: 50;
}

.portfolio .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 50%;
    overflow: hidden;
}

.portfolio .portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.9);
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 1;
}
.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem;
}
.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content svg {
    height: 60px;
}
.portfolio-modal .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;
}
@media (min-width: 992px) {
    .portfolio-modal .portfolio-modal-title {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}
.portfolio-modal .close {
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    top: 1rem;
    font-size: 3rem;
    line-height: 3rem;
    color: #1abc9c;
    opacity: 1;
}